---
name: Lint-Test Workflow

on: 
  push: 
    branches: [main, staging, dev]
  pull_request:
    branches: [main, staging, dev]

env:
  NODE_ENV: development
  # Use a secret for your API key
  EXPO_PUBLIC_API_URL: ${{ secrets.EXPO_PUBLIC_API_URL }}

jobs:
  lint-test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6-beta

      - name: Setup Node.js environment
        uses: actions/setup-node@v6.0.0
        with:
          node-version: '22'
          cache: 'npm'

      - name: Install dependencies
        run: npm ci

      - name: Run Cypress Tests
        uses: cypress-io/github-action@v6
        with:
          start: npm run web
          wait-on: 'http://localhost:8081'
          browser: chrome

      - name: Run linter
        run: npm run lint
